<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trails</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <nav>
      <img id="logo" src="https://i.imgur.com/qSIbf2G.png" >
        <a href="/trails">ALL TRAILS</a>
        <% if (user) { %>
          <a href="/hikes"> MY HIKES</a>
          <a href="/map"> MAPS</a>
          <a href="/fire-tower/new">FIRE TOWER CHALLENGE</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;</a>
        <% } %>
      </nav>
      <main>
</body>
</html>