body {
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
}

/* Style the navigation bar */
nav {
  background-color: #007BFF; /* Set your desired background color */
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff; /* Set your desired text color */
  padding: 10px 20px;
  margin: 0 10px;
  font-weight: bold;
}

/* Style the login button differently */
nav a.login {
  background-color: #28a745; /* Set your desired background color */
  border-radius: 5px;
}


nav a:hover {
  background-color: #0056b3; /* Set your desired hover background color */
}


#all-trails-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}


.trail-tile {
  display: inline-block;
  background-color: #f9f9f9;
  margin: 3em;
  max-width: 20em;
}

.trail-details {
  flex: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trail-details a {
  display: block;
  padding: 0.5em;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}