<%- include('../partials/header') %>


<h2 id="firetower-header">Fire Tower Challenge</h2>
<p id="firetower-paragraph">To complete the Challenge and receive the official (and HIGHLY coveted) full color patch you must do the following: </p>
<ol id="firetower-list">
    <li>Climb and document,by date, ascents of atleast 23 fire tower summits. all 5 in the Catskills, and 18 of 25 in the Adirondacks.</li>
    <li>Note that each fire tower should be standing on the date of your ascent.</li>
    <li>In addition to recording the dates of your climb, please share your experience with others!</li>
</ol>
<a href="https://adk-gfs.org/FTC/FTC.Brochure.2023-09.pdf">More information</a>

<div id="firetower-container">
<form id="firetower-form" action="/fire-tower" method="POST">
    <label for="name">Name:</label>
    <select name="name" >
    <option value="Snowy Mountain Fire Tower">Snowy Mountain Fire Tower</option>
    <option value="Lyon Mountain Fire Tower">Lyon Mountain Fire Tower</option>
    <option value="Blue Mountain Fire Tower">Blue Mountain Fire Tower</option>
    <option value="Wakely Mountain Fire Tower">Wakely Mountain Fire Tower</option>
    <option value="Hunter Mountain Fire Tower">Hunter Mountain Fire Tower</option>
    <option value="Philsbury Mountain Fire Tower">Philsbury Mountain Fire Tower</option>
    <option value="Gore Mountain Fire Tower">Gore Mountain Fire Tower</option>
    <option value="Mount Adams Fire Tower">Mount Adams Fire Tower</option>
    <option value="Vanderwacher Mountain Fire Tower">Vanderwacher Mountain Fire Tower</option>
    <option value="Loon Lake Mountain Fire Tower">Loon Lake Mountain Fire Tower</option>
    <option value="St. Regis Mountain Fire Tower">St. Regis Mountain Fire Tower</option>
    <option value="Owls Head Mountain Fire Tower">Owls Head Mountain Fire Tower</option>
    <option value="Goodnow Fire Tower">Goodnow Fire Tower</option>
    <option value="Hadly Mountain Fire Tower">Hadly Mountain Fire Tower</option>
    <option value="Azure Mountain Fire Tower">Azure Mountain Fire Tower</option>
    <option value="Bald Mountain Fire Tower">Bald Mountain Fire Tower</option>
    <option value="Poke O Moonshine Mountain Fire Tower">Poke O Moonshine Mountain Fire Tower</option>
    <option value="Spruce Mountain Fire Tower">Spruce Mountain Fire Tower</option>
    <option value="Belfry Mountain Fire Tower">Belfry Mountain Fire Tower</option>
    <option value="Cathedral Rock Mountain Fire Tower">Cathedral Rock Mountain Fire Tower</option>
  </select>

  <br>

  <label for="region">Region:</label>
  <select name="region" >
    <option value="Catskills">Catskills</option>
    <option value="Adirondacks">Adirondacks</option>

  <br>


  <label for="dateCompleted">Date Completed:</label>
  <input type="date" name="dateCompleted" >

  <br>


  <button type="submit">Submit</button>
</form>
</div>





<%- include('../partials/footer') %>