
<%- include('../partials/header') %>

<h2>New York Trails</h2>

<div id="all-trails-container">
  <% trail.forEach(t => { %>
    <div class="trail-tile">
      <div class="trail-details">
        <p><strong><%= t.trailName %></strong></p>
        <a href="/trails/<%= t._id %>">Trail Details</a>
      </div>
    </div>
  <% }) %>
</div>







<%- include('../partials/footer') %>