 <%- include('../partials/header') %>


<body>
    <h3>View Mountain Location</h3>
    <div id="map" ></div>
  
  </body>
    <script> 
    function initMap() {
       let hunter = {lat: 44.2247, lng: -73.8693};
       let map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: hunter});
       let marker = new google.maps.Marker({position: hunter, map:map})
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGQUiVodyZ0WA9-upov2fm1qIKf5aNUQM&callback=initMap" async defer></script>
    <script>
      function gm_authFailure() {
        console.error('Google Maps API failed to load.');
      }
    </script>
    </body>

    <%- include('../partials/footer') %>
