 <%- include('../partials/header') %>


<section>
    <h3 id="map-title">Trailhead Locations</h3>
    <div id="map"></div>
</section>

    <script> 
    function initMap() {
       let map = new google.maps.Map(
        document.getElementById('map'),
      {zoom: 7, 
      center: {lat:42.248, lng:-74.159 }
    });

    let markerData =[ 
      {lat: 42.072, lng: -74.122, title: 'Overlook Mountain Trail'},
      {lat: 42.248, lng:-74.159, title: 'Hunter Mountain Trail'}, 
      {lat: 42.025, lng: -74.599, title: 'Balsam Lake Trail'},   
      {lat:43.374, lng: -73.950, title: 'Hadely Mountain Trail'},   
      {lat: 44.408, lng:-73.504, title: 'Poke-O-Moonshine Trail'},   
      {lat:43.202, lng: -73.895, title: 'Spruce Mountain Trail'},   
      {lat: 43.588, lng:-74.485, title: 'Pillsbury Mountain Trail'},   
      {lat: 43.608,lng: -73.520, title: 'Black Mountain Trail'},   
      {lat: 41.936,lng: -74.528, title: 'Red Hill Mountain Trail'},   
      {lat: 44.102, lng:-73.546, title: 'Belfry Mountain Trail'},   
      {lat: 43.899, lng: -74.095, title: 'Vanderwhacker Mountain Trail'},   
      {lat: 42.068, lng: -74.303, title: 'Mount Tremper Trail'},   
      {lat: 43.971, lng:-74.214, title: 'Goodnow Mountain Trail'},   
      {lat: 44.213, lng:-74.595, title: 'Mount Arab Trail'},   
      {lat: 43.871, lng:-74.415, title: 'Blue Mountain Trail'},   
      {lat: 43.936, lng:-74.413, title: 'Owls Head Mountain Trail'},   
      {lat: 43.181, lng: -74.504, title: 'Kane Mountain Trail'},   
      {lat: 44.317,lng: -73.938, title: 'Whiteface Mountain Trail'},   
      {lat: 44.539, lng:-74.492, title: 'Azure Mountain Trail'},   
      {lat: 44.434, lng:-74.300, title: 'Saint Regis Montain Trail'},   
      {lat: 43.732, lng:-74.473, title: 'Wakely Mountain Trail'},   
      {lat: 41.772, lng:-74.155, title: 'Mohonk Mountain Trail'},   
     
    ];
    for(let i=0; i< markerData.length; i++) {
      let marker = new google.maps.Marker(
        {position: {lat: markerData[i].lat, lng: markerData[i].lng},
         map:map,
        title: markerData[1].title});
        let infoWindow=  new google.maps.InfoWindow({
          content:`<h4>${markerData[i].title}</h4>`
        });
        marker.addListener('click', function() {
          infoWindow.open(map,marker);
        })
    }
       
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGQUiVodyZ0WA9-upov2fm1qIKf5aNUQM&callback=initMap" async defer></script>
    <script>
      function gm_authFailure() {
        console.error('Google Maps API failed to load.');
      }
    </script>
  

    <%- include('../partials/footer') %>
